.container-job-information{
    display: flex;
    width: 100%;
    font-size: medium;
}

.container-job-information p{
    padding-left: 3px;
    padding-right:10px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que desborda el contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */
}

.img-information{
    height: 20px;
    width: auto;
    padding: 0;
    margin: 0;
}
